/* styleSheet.css */

/* General styles */
body {
    font-family: Arial, sans-serif; 
	/* remove default margin and padding*/
    margin: 0; 
    padding: 0; 
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px; 
    display: flex; 
    justify-content: space-between; /* space evenly */
}

.logo {
    display: flex; 
    align-items: center; 
}

.logo img {
    width: 30px; 
    margin-right: 10px; 
}

.logo h1 {
    margin: 0; /* remove title margin */
}

.header-right {
    display: flex;
    align-items: center;
}

/* Header - Dropdown Menu, "Contact Us" button */
.user-dropdown {
    position: relative; /* dropdown container position relative to button */
	
}

.dropbtn {
    background-color: #f4f4f4;
    border: none;
	color: #333;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #ddd;
	transition: background-color 1.0s; /* transition */
}

.dropdown-content {
    display: none; /* hide content*/
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1; /* specify stack order, make sure format correctly */
    top: 100%; 
    right: 0; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #A4A4A4;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

.contact-button a {
    background-color: #f4f4f4; 
    border: none;
	color: #333;
	padding: 10px 20px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition: background-color 1.0s;
}

.contact-button a:hover {
    background-color: #ddd; 
}

/* Header - Subheading */
#subheading {
    background-color: #f4f4f4; 
    padding: 10px; 
    position: relative; 
    left: 0; 
    width: 100%;
}

#subheading ul {
	/* remove defaults */
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    text-align: left; 
}

#subheading ul li {
    display: inline;
    margin-right: 10px; 
}

#subheading ul li a {
    color: #333; 
    text-decoration: none; 
}

/* Section styles */
section {
    padding: 20px; 
}

/* Footer styles */
footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    text-align: center; 
}
