<%- include('header'); %>
    <div class="home-container">
        <div class="home-text">
            <h1>Welcome to FlyDreamAir</h1>
            <p>Discover a new way to fly with FlyDreamAir.</p>
            <a href="/about" class="learn-more-btn">Learn More</a>
        </div>
    </div>
    <%- include('footer'); %>
