<%- include('header'); %>
    <div class="hero">
	<h1>About Us</h1>
    <p>Welcome to FlyDreamAir. Learn more about our company.</p>
        <div class="slideshow-container">
            <div class="aboutSlides fade">
                <img src="/images/aboutSlide1.jpg" style="width:100%">
            </div>
            <div class="aboutSlides fade">
                <img src="'images/aboutSlide2.jpg" style="width:100%">
            </div>
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>

    <div class="about-section">
        <h2>Our Story</h2>
        <p>Content </p>
    </div>
    <%- include('footer'); %>
