<%- include('header'); %>
<div class="success-payment">
    <h2>Submitted Successful</h2>
    <p>Thanks for get in touch. Your email has been successfully processed.</p>
    <p>You will be redirected to the About page shortly.</p>
</div>
<script>
    // Redirect to the About page after 45 seconds
    setTimeout(() => {
        window.location.href = "/about";
    }, 7000); // 7 seconds in milliseconds
</script>
    <%- include('footer'); %>
